* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(210,210,255);
}
body {
    background-color: rgb(37,37,67);
    padding: 2.5rem;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
}
.card {
    background-color: rgb(67,67,97);
    padding: 1.5rem;
    border-radius: 20px;
    transition: transform 300ms ease-in-out;
}
.card:not(.exp):hover {
    transform: scale(1.03);
}
.exp:hover {
    transform: scale(1.02);
}
.exp {
    grid-row: span 3;
}
.exp2 {
    grid-row: span 2;
}
h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}
span, span:hover {
    transition: color 200ms ease-in-out;
}
span:hover {
    color: skyblue;
    cursor: pointer;
}